body {
    
}

table, th, td {
    border: 2px solid;
    width: 50%;
    border-collapse: collapse;
}

th{
    height: 40px;
}

th, td{
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}

tr:hover{
    background-color: aliceblue;
}

h1 b{
    /*b element in h1*/
    color: red;
}

.dropdown{
    width: fit-content;
    position: relative;
    display: inline-block;
}
.dropdownbutton{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.dropdownbutton:hover{
    color:rgb(105, 179, 244) ;
    background-color: gainsboro;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: auto;
}

.dropdown-menu a{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover{
    background-color: aliceblue;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
